[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/SDL3_image"]
	path = external/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "external/SDL3_mixer"]
	path = external/SDL3_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "external/SDL3_ttf"]
	path = external/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
